@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$mainBgColor: #16191b;
$netflixColor: #db0000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    background-color: lighten($mainBgColor, 5%);
}

.container{
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
    background-color: $mainBgColor;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__logo{

        a{
            text-transform: uppercase;
            text-decoration: none;
            font-size: 39px;
            font-weight: 600;
            color: $netflixColor;
        }
    }

    &__nav{

        nav{
            display: flex;
            gap: 50px;

            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 20px;
                transition: .1s all ease-in;
                font-weight: 500;

                &:hover{
                    color: $netflixColor;
                    opacity: .8;
                }
            }
        }
    }

    &__searchBtn{

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
        }
    }

    &__searchField{
        z-index: 5;
        width: 100%;
        background-color: #fefefe;
        position: absolute;
        bottom: -50px;
        animation: search .3s;

        input{
            padding: 10px;
            width: 100%;
            outline: none;
        }

        

        @keyframes search {
            0%{
                transform: translateY(-100%);
            }
            100%{
                transform: translateY(0);
            }
        }
        
    }
    
}

.sliderMovies{
    position: relative;
    border-radius: 20px;

    h3{
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        padding: 10px 0px;
        border-bottom: 1px solid gray;
    }

    &__nav{
        width: 100%;
        z-index: 2;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 20px;

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
            border-radius: 50%;
        }
    }

    &__movie{
        position: relative;

        .image{
            display:inline-block;

            img{
                position: relative;
                z-index: -1;
                width: 100%;
                height: 100%;
            }
        }

        .info{
            position: absolute;
            bottom: 10%;
            left: 3%;
            margin-top: 10px;

            &__title{
                width: 100%;

                p{
                    font-size: 70px;
                    font-weight: 600;
                }
            }

            &__subtitle{

                p{
                    max-width: 90%;
                }
            }

            &__additional{
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 16px;

                p{
                    font-size: 30px;
                }

                a{
                    background-color: $mainBgColor;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: .2s all ease-in;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    &:hover{
                        background-color: lighten($mainBgColor, 10%);
                    }
                }

                .vote{
                    display: flex;
                    align-items: center;
                    gap: 3px;
                }
            }
        }
    }
}

.recommended{

    h3{
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        padding: 10px 0px;
        border-bottom: 1px solid gray;
    }

    &__movies{
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: center;

        p{
            text-align: center;
            margin-bottom: 10px;
        }

        .movie{

            &__poster{
                position: relative;
        
                img{
                    max-width: 200px;
                }

                &-info{
                    width: 100%;
                    bottom: 0;
                    padding-bottom: 10px;
                    position: absolute;
                    background-color: lighten($mainBgColor, 10%);
                    transition: .2s all ease-in;
                    padding: 5px;

                    .title{
                        font-size: 18px;
                        text-align: center;
                        margin-bottom: 20px;
                        font-weight: 600;
                    }

                    .overview{
                        font-size: 14px;
                    }
                }
        
            }

            
        }
    }
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gridForMovies{
    padding-bottom: 10px;

    h3{
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        padding: 10px 0px;
        border-bottom: 1px solid gray;
    }

    .movies{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-bottom: 10px;

        a{
            text-decoration: none;
        }
        
        &__movie{
            transition: .2s all ease-in-out;

            &:hover{
                scale: 1.05;
            }

            .image{
                position: relative;
    
                img{
                    width: 100%;
                    border-radius: 20px;
                }

                .isHovered{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .2s all ease-in;

                    svg{
                        width: 100%;
                        max-width: 40px;
                        transition: .2s all ease-in;

                        &:hover{
                            scale: 1.1;
                        }
                    }
                }
            }
    
            .info{
                margin-top: 10px;
    
                &__title{
                    width: 100%;
                }
    
                &__subtitle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
    
                    .vote{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                    }
                }
            }

            
        }
    }

    .pages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        ul{
            display: flex;
            align-items: center;
            gap: 10px;

            li{
                cursor: pointer;
                border-radius: 5px;
                background-color: rgb(214, 214, 214);
                color: #000;
                padding: 2px 6px;
                list-style-type: none;
                font-size: 20px;

                &._active{
                    background-color: darken(rgb(214, 214, 214), 70%);
                    color: #fff;
                }
            }
        }
    }
}

.movieDetails{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &__image{

        img{
            width: 100%;
            max-width: 300px;
        }
    }

    &__info{
        margin-bottom: 20px;
        width: 73%;
        padding: 20px;
        border-radius: 10px;
        background-color: lighten($mainBgColor, 5%);

        &-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(88, 88, 88);

            .name {

                h3{
                    font-size: 25px;
                    font-weight: 400;
                }
            }

            .rating{
                display: flex;
                gap: 5px;

                p{
                    font-size: 20px;
                }
            }
        }

        &-subtitle{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 16px;

            .genres{
                display: flex;
                align-items: center;
                gap: 10px;

                .genre{
                    padding: 5px 10px;
                    background-color: lighten($mainBgColor, 20%);
                    border-radius: 5px;
                }
            }
            
        }
    }
}

.movie__trailer{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title{
        margin-top: 20px;

        h3{
            text-align: center;
            font-weight: 400;
            font-size: 26px;
        }

    }

    &-video{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;

        iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0; /* Убираем границы iframe */
        }
    }
}

.error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

    &__title{
        
        p{
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__subtitle{

        p{
            font-size: 170px;
            font-weight: 900;
            letter-spacing: 30px;
            color: $netflixColor;
        }
    }

    &__back{

        a{
            text-decoration: none;
            text-transform: uppercase;        
            padding: 10px 30px;
            background-color: lighten($mainBgColor, 10%);
            border-radius: 5px;
            font-size: 24px;
            transition: .2s all ease-in-out;

            &:hover{
                letter-spacing: 2px;
                background-color: lighten($mainBgColor, 20%);;
            }
        }
    }
}

.search{

    &__input{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;

        input{
            padding: 10px 30px;
            width: 70%;
            height: 40px;
            outline: none;
            border: none;
            background-color: lighten($mainBgColor, 10%);
        }
    }
}

.footer{
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 1240px) {
    .recommended__movies{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1100px) {
    .sliderMovies__movie .info__title p{
        font-size: 40px;
    }

    .header__nav{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .gridForMovies .movies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .sliderMovies__movie .info__additional p {
        font-size: 20px;
    }
    .info__subtitle{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .gridForMovies .movies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .sliderMovies__movie .info__subtitle p {
        font-size: 12px;
    }

    .movieDetails__info-title{
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .gridForMovies .movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .movieDetails{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .movieDetails__info-subtitle .genres {
        flex-direction: column;
        align-items: flex-start;
    }

    .movieDetails__info{
        width: 100%;
    }

    .recommended__movies{
        gap: 10px;
    }
}

@media screen and (max-width: 355px){
    .sliderMovies__movie .info__additional a{
        font-size: 10px;
    }
}